/* .header {
    padding: 10px;
    background-color: aliceblue;
}

h1 {
    color: rgb(79, 94, 172);
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    width: 150px;
    text-align: center;
    
    border-radius: 8px;
} */
